@using _420_476_Project.ViewModels;
@model CartViewModel

@{
    ViewBag.Title = "Check Out";
    if (Session["loggedIn"] != null)
    {
        if ((bool)Session["loggedIn"])
        {
            var userLoggedIn = Session["userLoggedIn"] as _420_476_Project.Models.Users;
            switch (userLoggedIn.RoleID)
            {
                case 1:
                    Layout = "~/Views/Shared/_LoggedIn.cshtml";
                    break;
                case 2:
                    Layout = "~/Views/Shared/_Moderator.cshtml";
                    break;
                case 3:
                    Layout = "~/Views/Shared/_Admin.cshtml";
                    break;
                default:
                    Layout = "~/Views/Shared/_LoggedIn.cshtml";
                    break;
            }
        }
    }
}


<h2>Check Out</h2>

@*@using (Html.BeginForm("ViewShoppingCart", "Products", FormMethod.Post, Model.orderDetails))
{*@
    <table class="table">
        <tr>
            <th>
                Pictures
                @*@Html.DisplayNameFor(model => model.picture)*@
            </th>
            <th>
                ProductName
                @*@Html.DisplayNameFor(model => model.ProductName)*@
            </th>
            <th>
                UnitPrice
                @*@Html.DisplayNameFor(model => model.UnitPrice)*@
            </th>
            <th>
                Quantity
                @*@Html.DisplayNameFor(model => model.)*@
            </th>
            @*<th>
                    Sub-Total
                </th>*@
        </tr>
        @foreach (var item in Model.products)
        {
            <tr>
                <td>
                    @if (@item.Pictures.FirstOrDefault() == null)
                    {
                        <img src="~/Content/Images/No_image_available.svg" alt="Product image" width="130" />
                    }
                    else
                    {
                        <img src="~/Content/Images/@item.Pictures.FirstOrDefault().PictureName" alt="@item.Pictures.FirstOrDefault().PictureDescription" width="200" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    <select class="quantity-cart" name="quantity">
                        @for (int i = 1; i <= item.UnitsInStock; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                </td>
            </tr>
        }
    </table>
    @{ 
    if (Session["loggedIn"] != null)
    {
        <input type="submit" class="btn btn-cart" value="Confirm purchase" />
    }
    else
    {
        @Html.ActionLink("Login", "Login", "Accounts")
    }
}
