@model _420_476_Project.Models.Products

@{
    ViewBag.Title = "Details";
    ViewBag.ProdId = Model.ProductID;

    if (Session["loggedIn"] != null)
    {
        if ((bool)Session["loggedIn"])
        {
            var userLoggedIn = Session["userLoggedIn"] as _420_476_Project.Models.Users;
            switch (userLoggedIn.RoleID)
            {
                case 1:
                    Layout = "~/Views/Shared/_LoggedIn.cshtml";
                    break;
                case 2:
                    Layout = "~/Views/Shared/_Moderator.cshtml";
                    break;
                case 3:
                    Layout = "~/Views/Shared/_Admin.cshtml";
                    break;
                default:
                    Layout = "~/Views/Shared/_LoggedIn.cshtml";
                    break;
            }
        }
    }
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />

    @{ 
        if (Session["cart"] != null)
        {
            if (Session["cart"].ToString().Contains("," + Model.ProductID.ToString() + ","))
            {
             <p style="float:right">Already in cart! @Html.ActionLink("View shoping cart?", "ViewShoppingCart") </p>
            }
            else
            {
                <input type="image" src="~/Content/Images/Add.to.cart.icon2.svg" class="btn btn-addCart" onclick="window.location='@Url.Action("addToCart", "Products", new { id = Model.ProductID})'" />
            }
        }
        else
        {
            <input type="image" src="~/Content/Images/Add.to.cart.icon2.svg" class="btn btn-addCart" onclick="window.location='@Url.Action("addToCart", "Products", new { id = Model.ProductID})'" />
        }
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
